/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, embed, 
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* small phone wireframe */

@media only screen and (max-width: 600px) {
    fieldset {
    display: flex;  
    flex-direction: column;
    font-size: 30px;
    /*make radio button larger*/
    }
    input {
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .button {
        font-size: 30px;
    }
}
/*tablet and large phone wireframe*/
@media only screen and (min-width: 600px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    }
    fieldset {
        font-size: 20px;
    }
    /* ul > li {
        display: flex;  
        flex-direction: row;
        font-size: 25px;
        /*make radio button larger*/
        /* }
        input {
            flex-wrap: wrap;
            /* flex-grow: 1; */
        }
.button {
        font-size: 30px;
        margin: 10px 0;  
        border: black thin solid;
        border-radius: 3%;  
}

/*laptops and desktops wireframe*/
@media only screen and (min-width: 900px) {

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    }
    /* li {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    } */


}

p {
    font-family: Lucida Sans, Verdana, Geneva, Tahoma, sans-serif
}
#correct, #incorrect {
    width: 100 px;
    height: 100px;

}
#correct {
    background-image: url("https://previews.123rf.com/images/arcady31/arcady311812/arcady31181200164/114186087-happy-nerd-emoji.jpg");
}
#incorrect {
    background-image: url("https://cdn.imgbin.com/10/20/25/imgbin-emoticon-oh-no-emoticon-illustration-eMDxaTxNca7euDSwfMZSmkLsb.jpg");
}


form, fieldset {
    /* margin: 10px auto; */
}
#callout-box {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* display for START screen */
#start-screen {

}

#js-start-button {

}
/* display for MAIN screen */
#main-screen-header {

}
legend {
    font-size: 20px;
}

#questions-screen-header {
    display: none;

}

.js-submit-button {
    /* display: none; */
}

/* display for FEEDBACK screen */

.js-feedback-next-button {
    display: none;
}

/* display for FINAL SCORE screen */
#finalscore-screen {
    
}

#js-restart-button {
    

}
.hidden {
    display: none;
}