/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, embed, 
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* small phone wireframe */
@media only screen and (max-width: 600px) {
    fieldset {
    display: flex;  
    flex-direction: column;
    font-size: 30px;
    /*make radio button larger*/
    }
    input {
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .button {
        font-size: 30px;
    }
}
/*tablet and large phone wireframe*/
@media only screen and (min-width: 600px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    }
    fieldset {
        font-size: 20px;
    }
    /* ul > li {
        display: flex;  
        flex-direction: row;
        font-size: 25px;
        /*make radio button larger*/
        /* }
        input {
            flex-wrap: wrap;
            /* flex-grow: 1; */
        }
        .button {
            font-size: 30px;
        }  */
    
}

/*laptops and desktops wireframe*/
@media only screen and (min-width: 900px) {

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    }
    /* li {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 2;
    } */

.selected {

}

}
.correct {
    background-image: url("https://previews.123rf.com/images/arcady31/arcady311812/arcady31181200164/114186087-happy-nerd-emoji.jpg");
}
.oops {
    background-image: url("https://cdn.imgbin.com/10/20/25/imgbin-emoticon-oh-no-emoticon-illustration-eMDxaTxNca7euDSwfMZSmkLsb.jpg");
}


/* display for START screen */

/* display for MAIN screen */

/* display for FINAL SCORE screen */
